*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #33475b;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.fa-sort-down{
  color: #7c98b6;
  margin-left: 10px;
  font-size: 17px;
}

header{
  height: 155px;
}
.sfondo_top{
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  height: 74px;
}

nav{
  max-width: 1080px;
  margin: auto;
}

.header_top{
  height: 74px;
  position: relative;
}

.language, .contact {
  left: 0;
  top: 50%;
  transform: translate(0 , -50%);
  position: absolute;
}

.language img{
  height: 20px;
  margin-right: 10px;
  float: left;
}

.language span{
  float: left;
}

.languages{
  display: none;
}

.language a, .languages a{
  color: inherit;
}

.contact{
  margin-left: 125px;
  color: inherit;
}

.contact a{
  float: left;
}

.header1_right{
  float: right;
  right: 0;
  top: 50%;
  transform: translate(0 , -50%);
  position: absolute;
}

.menu{
  height: 81px;
}
