*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #33475b;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.625;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
}

.fa-sort-down{
  color: #7c98b6;
  margin-left: 10px;
  font-size: 17px;
}

header{
  height: 155px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
.sfondo_top{
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  height: 74px;
}

nav{
  max-width: 1080px;
  margin: auto;
}

.header_top{
  height: 74px;
  position: relative;
}

.sfondo_top::after{
  clear: both;
  content: "";
  display: table;
}

.fixed{
  background-color: #f5f8fa;
  position: fixed;
  width: -webkit-fill-available;
  border-bottom: 1px solid #cbd6e2;
  z-index: 1000000;
}

.language, .contact{
  left: 0;
  top: 50%;
  transform: translate(0 , -50%);
  position: absolute;
}

.contact{
  margin-left: 148px;
}

.language{
  border-right: 2px solid lightgray;
}

.language::after{
  clear: both;
  content: "";
  display: table;
}

.contact{
  float: left;
  color: inherit;
}

.contact::after{
  clear: both;
  content: "";
  display: table;
}

.language img{
  height: 20px;
  margin-right: 10px;
}

.languages{
  display: none;
  background-color: #fff;
  border: 1px solid #cbd6e2;
  border-radius: .1875rem;
  box-shadow: 0 1px 24px rgba(45,62,80,0.12);
  padding: 12px 0;
  margin-top: 50px;
}

.drop:hover .languages{
  display: block;
}

.drop{
  clear: both;
  content: "";
  display: table;
}

.language a{
  padding-right: 20px;
  color: inherit;
}

.languages a{
  color: inherit;
  padding: 0.25rem 1.25rem;
  font-size: 0.875rem;
  display: block;
}

.languages a:hover{
  background-color: #e5f5f8;
}

.contact a{
  color: inherit;
}


.header1_right{
  float: right;
  right: 0;
  top: 50%;
  transform: translate(0 , -50%);
  position: absolute;
}

.fa-search{
  color: #19adc3
}

.log{
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 8px 16px;
  border-radius: 3px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.log:hover{
  background-color: #fff8f6;
}

.get{
  border: 1px solid #ff7a59;
  color: white;
  padding: 8px 16px;
  border-radius: 3px;
  background-color: #ff7a59;
}

.get:hover{
  background-color: #ff8f73;
}

.menu{
  height: 81px;
  position: relative;
}
.menu::after{
  clear: both;
  content: "";
  display: table;
}

.logo{
  float: left;
  left: 0;
  top: 50%;
  transform: translate(0 , -50%);
  position: absolute;

}

.menu_right .inline{
  display: inline-block;
}

.languages2{
  display: none;
  background-color: #fff;
  border: 1px solid #cbd6e2;
  border-radius: .1875rem;
  box-shadow: 0 1px 24px rgba(45,62,80,0.12);
  padding: 12px 0;
  position: absolute;
}

.drop2:hover .languages2{
  display: block;
}
.languages2 a{
  color: inherit;
  padding: 0.25rem 1.25rem;
  font-size: 0.875rem;
  display: block;
}

.languages2 a:hover{
  background-color: #e5f5f8;
}

.menu_right{
  float: right;
  right: 0;
  top: 50%;
  transform: translate(0 , -50%);
  position: absolute;
}

.menu_right::after{
  clear: both;
  content: "";
  display: table;
}

.menu_right .inline{
  padding: 0 16px;
}

.menu_bold{
  color: inherit;
  font-weight: bold;
}

.inside{
  background-color: #f25477;
}

.inside_width{
  max-width: 1080px;
  margin: auto;
  padding: 1.25rem 0;
  text-align: center;
}

.inside span{
  color: white;
  padding: 0 1.25rem;
  font-size: 1em;
  font-weight: 400;
}

.learn_more{
  font-size: 0.875rem;
  padding: 0.75rem 1.5rem;
  line-height: 1.25;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #fff;
  font-weight: 700;
  color: #33475b;
}

.learn_more:hover{
  background-color: rgba(255,255,255,0.9);
}


.jumbo{
  background-color: #fff2ee;
  /* height: 690px; */
  /* background-image: url("https://i.postimg.cc/W4tGDrzm/Immagine.png");
  background-position: bottom right;
  background-repeat: no-repeat; */
}

.jumbo_width{
  max-width: 1080px;
  margin: auto;
  padding: 64px 0;
}

.text_jumbo{
  max-width: 432px;
  text-align: left;
}

.text_jumbo h1{
  font-size: 3.438rem;
  line-height: 1.1818;
  margin: 28px 0;
  font-weight: 700;
}

.text_jumbo p{
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.625;
}

.big{
  padding: 26px 48px;
  font-weight: 700;
  font-size: 1rem;
}

#small{
  font-size: 0.75rem;
  line-height: 1.5;
  max-width: 200px;
  margin: 24px 0;
}

.widget{
  background-color: #f5f8fa;
}


.widget_width{
  max-width: 1080px;
  margin: auto;
  padding-bottom: 112px;
}

.widget_posizione{
  text-align: center;
}

.widget_posizione::after{
  clear: both;
  content: "";
  display: table;
}

.widget_centro_top{
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 100px 0 50px;
}

.widget_centro_top img{
  max-width: 260px;
}

.widget_centro_top h2{
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3125;
  margin-bottom: 20px;
}

.widget_centro_top p{
  font-size: 16px;
}

.widget_orizzontale_colonna{
  background-color: white;
  max-width: 960px;
  height: 282px;
  margin: 0 auto 32px ;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}

.widget_left_colonna img{
  width: 100%;
  height: 150px;
}

.learn{
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 0.875rem;
  font-weight: bold;
}

.widget_left_colonna{
  left: 0;
  top: 50%;
  transform: translate(0 , -50%);
  position: absolute;
  padding-left: 80px;
  padding-right: 620px;
}

.widget_right_colonna{
right: 0;
top: 50%;
transform: translate(0 , -50%);
position: absolute;
width: 58%;
text-align: left;
padding-right: 80px
}

.widget_right_colonna h3{
  font-size: 1.375rem;
}

.widget_right_colonna p{
  font-size: 14px;
  margin: 14px 0;
}

.widget_right_colonna h4{
  font-size: 13px;
  margin-top: 26px;
  margin-bottom: 15px;
}

.widget_right_colonna span{
  margin-right: 20px;
  font-size: 13px;
  margin-bottom: 5px;
  display: inline-block;
  height: 25px;
}


.fa-check-circle{
  color: #ff7a59;
  font-size: 18px;
  margin-right: 10px;
  height: 25px;
  vertical-align: top;
}

.widget_colonne{
  background-color: #f5f8fa;
  max-width: 960px;
  margin: auto;
}

#widget_colonna1, #widget_colonna2, #widget_colonna3{
  width: 31.111111%;
  float: left;
  display: inline-block;
}

#widget_colonna2{
  margin-left: 32px;
  margin-right: 32px;
}

.widget_colonna{
  background-color: white;
  padding: 32px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}

.widget_colonna img{
  width: 100%;
  height: 150px;
}

.widget_colonna h3{
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.3636;
  text-align: center;
  margin: 11px 0;
}

.widget_colonna p{
  font-size: 13.8px;
  margin: 14px 0;
  text-align: left;
}

.widget_colonna h4{
  font-size: 13px;
  margin: 26px 0 15px;
  padding-top: 26px;
  text-align: center;
  border-top: 1px solid #e0e6ed;
}

.widget_colonna ul li{
  text-align: left;
  margin-bottom: 5px;
  font-size: 13px;
}

.community{
  background-color: #19adc3;
  padding: 130px 0;
  color: white;
}

.community_width{
  max-width: 1080px;
  padding: 0 32px;
  box-sizing: content-box;
  margin: auto;
}


.table_intro{
  text-align: center;
  max-width: 750px;
  margin: 0px auto;
}

.table_intro h2{
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3125;
}

.table_intro p{
  padding-top: 16px;
  font-size: 16px;
  line-height: 1.625;
}

.table{
  margin: 80px 0 0;
}

.elemento{
  width: 25%;
  padding: 30px;
  text-align: center;
}

.table_top .elemento{
  float: left;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#elemento4{
  border-right: 0;
}

.table_top::after{
  clear: both;
  content: "";
  display: table;
}

.table_bottom .elemento{
  float: left;
  border-right: 1px solid #fff;
}

#elemento8{
  border-right: 0;
}

.table_bottom::after{
  clear: both;
  content: "";
  display: table;
}

.elemento img{
  margin-bottom: 15px;
}

.elemento h2{
  margin-bottom: 5px;
  font-size: 2.5em;
  line-height: 1em;
  position: relative;
}

.elemento p{
  font-size: 0.9em;
  font-weight: 400;
}

.after_plus::after{
  content: "+";
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  line-height: 40px;
}

.customers{
  background-color: white;
  padding-top: 100px;
  color: inherit;
}

.customers_width{
  margin: 0 auto;
  max-width: 1080px;
  box-sizing: content-box;
  padding: 0 32px;
}

.customers_width::after{
  clear: both;
  content: "";
  display: table;
}

.customers_left{
  float: left;
  max-width: 330px;
  padding: 0 40px 20px 20px;
}
.customers_left{
  clear: both;
  content: "";
  display: table;
}
.customers_left h2{
  margin: 0 0 5px;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.3125;
}

.customers_left p{
  font-size: 1.2em;
  letter-spacing: 0.02em;
}

.customers_right{
  max-width: 600px;
  float: right;
}

.customers_right::after{
  clear: both;
  content: "";
  display: table;
}

.logo_customer{
  padding: 20px;
  width: 25%;
}

.logo_customer img{
  width: 100%;
  max-height: 100%;
}

.customers_top .logo_customer{
  float: left;
}

.customers_top::after{
  clear: both;
  display: table;
  content: "";
}

.customers_bottom .logo_customer{
  float: left;
}

.customers_bottom::after{
  clear: both;
  display: table;
  content: "";
}

.customers_2{
  background-color: white;
  padding: 7.5rem 0;
}

.customers_2::after{
  clear: both;
  display: table;
  content: "";
}

.customers_2_width{
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: content-box;
  position: relative;
}

.customers_2_width::after{
  clear: both;
  display: table;
  content: "";
}

.customers_2_left{
  float: left;
  width: 45%;
  text-align: left;
  left: 0;
  top: 50%;
  transform: translate(0 , -50%);
  position: absolute;
}

.customers_2_left h2{
  margin: 0 0 1.25rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3125;
}

.customers_2_left p{
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.customers_2_left button{
  margin: 2rem 0 1.5rem;
}

.customers_2_left small{
  font-size: 0.75rem;
}

.customers_2_left::after{
  clear: both;
  display: table;
  content: "";
}

.customers_2_right{
  float: right;
  width: 350px;
  margin: auto;
}

.customers_2_right img{
  max-width: 100%;
}

.customers_2_right::after{
  clear: both;
  display: table;
  content: "";
}

footer{
  background-color: #33475b;
  padding-top: 92px;
}

.footer_width{
  max-width: 1080px;
  padding: 0 2rem;
  box-sizing: content-box;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.footer_width::after{
  clear: both;
  content: "";
  display: table;
}

.menu_footer .menu_footer_colonna{
  display: inline-block;
  width: 24%;
  text-align: left;
  border-bottom: 0;
  margin-bottom: 0;
  padding: 0 1rem;
  float: left;
}

.menu_footer::after{
  clear: both;
  display: table;
  content: "";
}

.menu_footer_colonna::after{
  clear: both;
  content: "";
  display: table;
}

.menu_footer_colonna a{
  color: #cbd6e2;
  padding: 0.5rem 0;
  font-size: 0.875rem;
}

#tools, .tools{
  color: white;
}

.contact_support{
  background-color: #f5f8fa;
  margin: 0.75rem 0;
  font-size: 0.75rem;
  padding: 0.563rem 1rem;
  border-radius: 3px;
  border: 1px solid #f5f8fa;
}

.contact_support:hover{
  background-color: rgba(255,255,255,0.9);
}

.icone_social li{
  display: inline-block;
  float: left;
  color: #cbd6e2;
  padding: 0.75rem 0;
  width: 16.6%;
}

.fab{
  font-size: large;
}

.menu_footer_colonna a:hover{
  color: #7fd1de;
}

.icone_social a:hover{
  color: #7fd1de;
}

.icone_social li::after{
  clear: both;
  content: "";
  display: table;
}

.icone_social::after{
  clear: both;
  content: "";
  display: table;
}

.languages_footer{
  padding: 2rem 0;
}

.languages_footer ul{
  text-align: center;
}

.languages_footer li{
  display: inline-block;
}

.languages_footer a{
  color: #cbd6e2;
  padding: 0.5rem 1rem;
}

.languages_footer a:hover{
  color: #7fd1de;
}

.footer_bottom{
  padding: 2rem 0;
  border-top: 1px solid #7c98b6;
  width: 100%;
}

.footer_bottom::after{
  clear: both;
  content: "";
  display: table;
}

.footer_logo{
  float: left;
}
.footer_logo::after{
  clear: both;
  content: "";
  display: table;
}

.footer_logo p{
  color: #cbd6e2;
  font-size: 0.75rem;
  line-height: 1.5;
  margin-top: 1em;
  margin-bottom: 1em;
}

.footer_copyright a{
  color: #cbd6e2;
  padding: 0.5rem 1rem;
}

.footer_copyright a:hover{
  color: #7fd1de;
}

.footer_copyright{
  float: right;
}


.footer_copyright li{
  float: left;
  display: inline-block;
}

.footer_copyright::after{
  clear: both;
  content: "";
  display: table;

}

.chat_button{
  background-color: rgb(66, 91, 118);
  box-shadow: 0 1px 6px rgba(0,0,0,.1), 0 2px 24px rgba(0,0,0,.2);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid rgb(66, 91, 118);
  position: relative;
}

.fa-comment-alt{
  color: white;
  font-size: xx-large;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.chat{
  bottom: 0;
  right: 0;
  padding-bottom: 16px;
  padding-right: 16px;
  position: fixed;
}
