*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #33475b;
  font-family: 'Open Sans', sans-serif;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
}

.fa-sort-down{
  color: #7c98b6;
  margin-left: 10px;
  font-size: 17px;
}

header{
  height: 155px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
.sfondo_top{
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  height: 74px;
}

nav{
  max-width: 1080px;
  margin: auto;
}

.header_top{
  height: 74px;
  position: relative;
}

.language, .contact {
  left: 0;
  top: 50%;
  transform: translate(0 , -50%);
  position: absolute;
}

.language img{
  height: 20px;
  margin-right: 10px;
  float: left;
}

.language span{
  float: left;
}

.languages{
  display: none;
}

.language a, .languages a{
  color: inherit;
}

hr{
  left: 0px;
  top: 50%;
  transform: translate(0,-50%);
  position: absolute;
  margin-left: 120px;
  height: 20px;
  border-color: lightgray;
  background-color: lightgray;
}

.contact{
  margin-left: 140px;
  color: inherit;
}

.contact a{
  float: left;
  color: inherit;
}


.header1_right{
  float: right;
  right: 0;
  top: 50%;
  transform: translate(0 , -50%);
  position: absolute;
}

.fa-search{
  color: #19adc3
}

.log{
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 8px 16px;
  border-radius: 3px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.get{
  border: 1px solid #ff7a59;
  color: white;
  padding: 8px 16px;
  border-radius: 3px;
  background-color: #ff7a59;
}

.menu{
  height: 81px;
  position: relative;
}
.menu::after{
  clear: both;
  content: "";
  display: table;
}

.logo{
  float: left;
  left: 0;
  top: 50%;
  transform: translate(0 , -50%);
  position: absolute;

}

.menu_right ul, .menu_right li{
  display: inline-block;
}

.menu_right{
  float: right;
  right: 0;
  top: 50%;
  transform: translate(0 , -50%);
  position: absolute;
}

.menu_right li{
  padding: 0 16px;
}

.menu_right a{
  color: inherit;
  font-weight: bold;
}

.jumbo{
  background-color: #fff2ee;
  /* height: 690px; */
  /* background-image: url("https://i.postimg.cc/W4tGDrzm/Immagine.png");
  background-position: bottom right;
  background-repeat: no-repeat; */
}

.jumbo_width{
  max-width: 1080px;
  margin: auto;
  padding: 64px 0;
}

.text_jumbo{
  max-width: 432px;
  text-align: left;
}

.text_jumbo h1{
  font-size: 3.438rem;
  line-height: 1.1818;
  margin: 28px 0;
  font-weight: 700;
}

.text_jumbo p{
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.625;
}

.big{
  padding: 26px 48px;
  font-weight: 700;
}

#small{
  font-size: 0.75rem;
  line-height: 1.5;
  max-width: 200px;
  margin: 24px 0;
}

.widget{
  background-color: #f5f8fa;
}


.widget_width{
  max-width: 1080px;
  margin: auto;
  padding-bottom: 112px;
}

.widget_posizione{
  text-align: center;
}

.widget_posizione::after{
  clear: both;
  content: "";
  display: table;
}

.widget_centro_top{
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 100px 0 50px;
}

.widget_centro_top img{
  max-width: 260px;
}

.widget_centro_top h2{
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3125;
  margin-bottom: 20px;
}

.widget_centro_top p{
  font-size: 16px;
}

.widget_orizzontale_colonna{
  background-color: white;
  max-width: 960px;
  height: 282px;
  margin: 0 auto 32px ;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}

.widget_left_colonna img{
  width: 100%;
  height: 150px;
}

.learn{
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 0.875rem;
  font-weight: bold;
}

.widget_left_colonna{
  left: 0;
  top: 50%;
  transform: translate(0 , -50%);
  position: absolute;
  padding-left: 80px;
  padding-right: 620px;
}

.widget_right_colonna{
right: 0;
top: 50%;
transform: translate(0 , -50%);
position: absolute;
width: 58%;
text-align: left;
padding-right: 80px
}

.widget_right_colonna h3{
  font-size: 1.375rem;
}

.widget_right_colonna p{
  font-size: 14px;
  margin: 14px 0;
}

.widget_right_colonna h4{
  font-size: 13px;
  margin-top: 26px;
  margin-bottom: 15px;
}

.widget_right_colonna span{
  margin-right: 20px;
  font-size: 13px;
  margin-bottom: 5px;
  display: inline-block;
  height: 25px;
}


.fa-check-circle{
  color: #ff7a59;
  font-size: 18px;
  margin-right: 10px;
  height: 25px;
  vertical-align: top;
}

.widget_colonne{
  background-color: #f5f8fa;
  max-width: 960px;
  margin: auto;
}

#widget_colonna1, #widget_colonna2, #widget_colonna3{
  width: 31.111111%;
  float: left;
  display: inline-block;
}

#widget_colonna2{
  margin-left: 32px;
  margin-right: 32px;
}

.widget_colonna{
  background-color: white;
  padding: 32px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}

.widget_colonna img{
  width: 100%;
  height: 150px;
}

.widget_colonna h3{
  font-size: 1.375rem;
  font-weight: bold;
  line-height: 1.3636;
  text-align: center;
  margin: 11px 0;
}

.widget_colonna p{
  font-size: 13.8px;
  margin: 14px 0;
  text-align: left;
}

.widget_colonna h4{
  font-size: 13px;
  margin: 26px 0 15px;
  padding-top: 26px;
  text-align: center;
  border-top: 1px solid #e0e6ed;
}

.widget_colonna ul li{
  text-align: left;
  margin-bottom: 5px;
  font-size: 13px;
}
